@font-face {
	font-family: 'Aleo Light';
	font-style: normal;
	font-weight: normal;
	src: local('Aleo Light'), url('../fonts/Aleo-Light.woff') format('woff');
}

@font-face {
	font-family: 'Aleo Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Aleo Regular'), url('../fonts/Aleo-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Aleo Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Aleo Bold'), url('../fonts/Aleo-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Aleo Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Aleo Bold Italic'), url('../fonts/Aleo-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Aleo Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Aleo Italic'), url('../fonts/Aleo-Italic.woff') format('woff');
}

@font-face {
	font-family: 'Aleo Light Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Aleo Light Italic'), url('../fonts/Aleo-LightItalic.woff') format('woff');
}

@font-face {
	font-family: 'Mano Negra';
	font-style: normal;
	font-weight: normal;
	src: local('Mano Negra'), url('../fonts/WCManoNegraBta.woff') format('woff');
}